/* Global stles */
.mobile {
    display: none;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 16px;    
}

body {
    padding: 0;
    margin: 0;
    font-family: serif;
    color: #4A4A4A;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    padding-top: 64px;
}

section {
    padding: 32px 0 32px 24px;
}

h1, h2, h3 {
    color: #4A4A4A;
}

h1 {
    font-size: 2.250rem;
}

h3 {
    font-size: 1.250rem;
    margin-top: 8px;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
}

.bg-gray {
    background-color: #D8D8D8;
}

/* header */
header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 16px 24px;
    background-color: #fff;  
}

header .logo-container {
    display: flex;
    align-items: center;
}

.colmar {
    text-transform: uppercase;
    padding-left: 0.313rem;
    font-weight: bold;
}

.academy {
    color: #9B9B9B;
    text-transform: uppercase;
}

header nav {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    display: inline-block;
    padding-right: 1rem;
}

header ul li:last-child {
    padding-right: 0;
}

header ul li a {
    display: inline-block;
    color: #4A4A4A;
    text-decoration: none;    
}

/* banner */
.banner {
    display: flex;   
}

.banner .img-container {
    width: 60%;
    min-width: 250px;
 }

.banner-text {
    width: 40%;
    max-width: 300px;
    min-width: 270px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-left: 24px;
}

.banner-text a {
    width: 100%;
    display: block;
    padding: 8px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background-color: #4a4a4a;
}
/* banner */

/* information */

.information {
    display: flex;
}

.information .article {
    width: 60%;
    padding-right: 24px;
    border-right: 1px solid #e0e2e2;
}

.information h2 {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

.information .info-text {
    width: 40%;
}

.info-text-item {
    display: flex;
    padding: 16px;
    border-top: 1px solid #e0e2e2;
    border-bottom: 1px solid #e0e2e2;
    margin-bottom: 1px;
}

.info-text-item .img-container {
    width: 35%;
}

.info-text-item .item-descr {
    width: 65%;
    padding-left: 16px;
}

.item-descr a {
    color: #4a90e2;
}

/* Course */
#course {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 32px;
    padding-left: 72px;
    padding-right: 72px;
    text-align: center;
}

#course p {
    margin: 8px 0;
}

#course .title {
    grid-area: 1 / 1 / 2 / 4;
    margin: 0;
}

.course-item {
    background-color: #fff;
    text-align: left;
}

.course-item .item-descr {
    padding: 16px;
}

.course-item .type {
    text-transform: uppercase;
}

